<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.jdamcd.sudokusolver">

  <application
    android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher"
    android:theme="@style/SolverTheme"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_content"
    tools:ignore="GoogleAppIndexingWarning">

    <activity
      android:name=".solver.SolverActivity"
      android:launchMode="singleTop"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>

    <activity
      android:name=".about.AboutActivity"
      android:launchMode="singleTop"
      android:label="@string/about_name">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value="com.jdamcd.sudokusolver.solver.SolverActivity" />
    </activity>

  </application>
</manifest>
