<manifest
  xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="com.jdamcd.sudoku">

  <application
    android:name=".app.App"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:theme="@style/SudokuTheme"
    android:allowBackup="true"
    android:fullBackupContent="@xml/backup_content"
    android:supportsRtl="false"
    tools:ignore="GoogleAppIndexingWarning">

    <activity
      android:name=".app.SplashActivity"
      android:theme="@style/SplashTheme"
      android:label="@string/app_name">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <meta-data android:name="android.app.shortcuts"
                 android:resource="@xml/shortcuts" />
    </activity>

    <activity
      android:name=".browse.PuzzleChoiceActivity"
      android:theme="@style/SudokuTheme.Main"
      android:launchMode="singleTop"
      android:label="@string/app_name" />

    <activity
      android:name=".puzzle.PuzzleActivity"
      android:theme="@style/SudokuTheme.NoBackground"
      android:label="@string/title_activity_puzzle">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".browse.PuzzleChoiceActivity" />
    </activity>

    <activity
      android:name=".scoreboard.ScoreboardActivity"
      android:label="@string/title_activity_scoreboard">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".browse.PuzzleChoiceActivity" />
    </activity>

    <activity
      android:name=".bookmark.BookmarksActivity"
      android:label="@string/title_activity_bookmarks">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".browse.PuzzleChoiceActivity" />
    </activity>

    <activity
      android:name=".settings.SettingsActivity"
      android:launchMode="singleTop"
      android:label="@string/title_activity_settings">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".browse.PuzzleChoiceActivity" />
    </activity>

    <activity
      android:name=".settings.howto.HowToPlayActivity"
      android:label="@string/title_activity_how_to_play">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".settings.SettingsActivity" />
    </activity>

    <activity
      android:name=".settings.license.LicensesActivity"
      android:label="@string/title_activity_licenses">
      <meta-data
        android:name="android.support.PARENT_ACTIVITY"
        android:value=".settings.SettingsActivity" />
    </activity>

  </application>

</manifest>